<link rel="stylesheet" href="/mailbox.component">  
<div class="Bg">
  <nav class="nav-wrapper white darken-1">
    <a href="/" style="margin-left: 20px" class="brand-logo grey-text text-darken-4">ADSI Project</a>
    <ul class="right">
        <li><a class="white-text grey darken-4" routerLink="/register">Salir</a></li>
    </ul>
  </nav>
<div class="container">


  <ul class="collection">
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
  </ul>
</div>
