<div class="houseForm">
    <nav class="nav-wrapper white darken-1">
        <a href="/" style="margin-left: 20px" class="brand-logo grey-text text-darken-4">ADSI Project</a>
    </nav>
    <div class="container">
      <div class="row">
        <div class="column">
          <div class="card">
              <div class="card-action teal grey darken-4 white-text center">
                  <h6> Agregar una casa </h6>
              </div>
              <div class="card-content">
                  <form #houseForm="ngForm" (ngSubmit)="addHouse(houseForm)">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="titulo" placeholder="Un título descriptivo" 
                            #titulo="ngModel" [(ngModel)]="houseService.selectedHouse.titulo">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="precio" placeholder="Precio por mes"
                            #position="ngModel" [(ngModel)]="houseService.selectedHouse.precio">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="direccion" placeholder="Dirección del apartamento"
                            #direccion="ngModel" [(ngModel)]="houseService.selectedHouse.direccion">
                        </div>
                        
                        <div class="card-content">
                            <header >Servicios Incluidos</header>
                        </div>
                        <p>
                            <label>
                              <input id="servicios.amueblada" type="checkbox" />
                              <span>Amueblada</span>
                            </label>
                        </p>
                        <p>
                            <label>
                              <input id="servicios.wifi" type="checkbox" />
                              <span>Internet</span>
                            </label>
                        </p>
                        <p>
                            <label>
                              <input id="servicios.agua" type="checkbox" />
                              <span>Agua</span>
                            </label>
                        </p>
                        <p>
                            <label>
                              <input id="servicios.gas" type="checkbox" />
                              <span>Gas</span>
                            </label>
                        </p>
                        <p>
                            <label>
                              <input id="servicios.luz" type="checkbox" />
                              <span>Luz</span>
                            </label>
                        </p>
                        <p>
                            <label>
                              <input id="servicios.cocina" type="checkbox" />
                              <span>Cocina</span>
                            </label>
                        </p>
                        <div class="input-field col s12">
                            <input type="text" name="comentarios" placeholder="Comentarios o reglas a tomar a consideración"
                            #position="ngModel" [(ngModel)]="houseService.selectedHouse.comentarios">
                        </div>
                        <label>Por favor suba todas las imagenes a la vez</label>
                        <form action="upload.php" method="post" multiple>
                          <img *ngFor='let url of urls'  [src]="url" height="200"> <br/>
                          <input type='file' (change)="onSelectFile($event)" multiple>
                        </form>
                        <div class="card-action">
                          <div class="btn right" (click)="sendForm(houseForm)">Enviar Datos</div>
                        </div>
                    </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
