
<div class="Bg">
    
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Perfil</a></li>
    <li class="divider"></li>
    <li><a href="#!">Salir</a></li>
  </ul>
  
  <!-- Navbar -->
  <nav>
    <div class="nav-wrapper  cyan darken-3">
      <a href="/" style="margin-left: 20px" class="brand-logo white-text">ADSI Project</a>
      <a href="#" class="brand-logo center">Detalle de propiedad</a>
      <ul class="right hide-on-med-and-down">
          <li><a href="/"><i class="large material-icons">favorite_border</i></a></li>
          <li><a href="/"><i class="large material-icons notif">mail_outline</i><small class="notification-badge">+3</small></a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="large material-icons">perm_identity</i></a></li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <p></p>

    <div class="row">
      <div class="card hoverable">
      <div class="col s6">
          <img src="assets\\img\\1.png" alt="imagen de propiedad" width="500px">
      </div> 
      <div class="col s6">
          <img src="assets\\img\\map.png" alt="mapa" width="550px">
      </div> 
    </div>
            
    </div>
    <div class="row">
        <div class="card hoverable">
          <div class="card-content">
          <div class="row m7">
            <h4 style="color:#499da9 "><b>Chihuahua 650 int. 43</b></h4>
          </div>
          <div class="row">
            <div class="col s9">
              <div class="row">
                  <h6>Departamento sin amueblar cerca del ITAM, a 5 minutos caminando, todos los servicios:</h6>
                  <h6> 2 cuartos, baño completo, cocina, sala</h6>              
              </div>
              <div class="row">
                <div class="col s4">
                  <h4><b>$5,500</b></h4>
                </div>
                <div class="col s8">
                    <h4><b><img src="assets\\img\\walking.png" alt="" width="30px">+5 minutos</b></h4>
                  </div>
              </div>
              
            </div>
            <div class="col s3" >
              <div class="row">
                  <p style="text-align:left"><i class="Large material-icons">star_border</i><i class="Large material-icons">star_border</i><i class="Large material-icons">star_border</i><i class="Large material-icons">star_border</i><i class="Large material-icons">star_border</i></p>
              </div>
                <div class="row" >
                    <a href="#"><button class="btn waves-effect waves-light teal accent-4" type="submit" name="action" width:250px><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+ Favoritos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></button></a>
                </div>
                <div class="row">
                    <a href="#"><button class="btn waves-effect waves-light orange accent-4" type="submit" name="action">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contactar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>
                </div>
            </div>
          </div>
          </div>
            
    </div>
    
    
  </div>
