<div class="loginTemplate">
    <nav class="nav-wrapper white darken-1">
        <a href="/" style="margin-left: 20px" class="brand-logo grey-text text-darken-4">ADSI Project</a>
        <ul class="right">
            <li><a class="white-text grey darken-4" routerLink="/register">Registrarse</a></li>
        </ul>
    </nav>
    <div style="margin-top: 45px" class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-action teal grey darken-4 white-text center">
                            <h6> Iniciar Sesión </h6>
                        </div>
                        <div class="card-content">
                            <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">

                                <div class="input-field inline">
                                    <input type="text" id="email_inline" name="email" #email="ngModel"
                                        [(ngModel)]="userService1.user.email">
                                    <label for="email_inline">Email</label>
                                </div>
                                <div class="input-field inline">
                                    <input type="password" id="password_inline" name="password" #password="ngModel"
                                        [(ngModel)]="userService1.user.password">
                                    <label for="password_inline">Password</label>
                                </div>
                                <div class="form-field">
                                    <button class="btn-large waves-effect waves-light grey darken-4"
                                        style="width:100%;">Acceder</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>