.Bg {
  background-color: whitesmoke;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

h2.titulo{
    color: green;
    text-align: center;
    font-size: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    background-color: white;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: whites;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 40px;
  }
  
  .item1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .item2{
    grid-column-start: 2;
    grid-column-end: 4;
    width: 700px;
    text-align: left;
  }

  .item3{
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .item10{
    grid-column-start: 1;
    grid-column-end: 4;
    width: 250px;
    height: 50px;
  }

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    width: 200px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .button:hover {opacity: 1}

  .button2 {
    background-color: rgb(38, 166, 154);
    border: none;
    color: white;
    padding: 16px 32px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .button2:hover {opacity: 1}

